<template>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 " v-show="$store.state.mostrarBoton">
      <button class="b-veraseg btn btn-block" data-toggle="modal" data-target="#exampleModal"
        @click="conectarAInteraccion()" :disabled = "disabled" v-bind:class="{disabled: this.$store.state.config.habilitarBtnInteraccion}"> <!--data-toggle='modal', data-target='#exampleModal' @click="enviarLead(indice),  disabled=! disabled" :disabled = "disabled" como se quito la venta de lead por eso se quito eso por que si no sale error-->
        <div class="telbtn">
           <img class="itel" src="img/diadema.svg" alt="diadema">     
          </div>
          <div>
            <p class="llamar">Recibir llamada</p>
            <strong class="grat">Gratuita</strong>
          </div>
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-asesoria">
            <div class="modal-header">
              <img class="figure-img img-fluid rounded img-modal" :src="'img/aseguradoras-logo/color/taxi.svg'" alt="">
            </div>
            <div class="modal-body">
              <p class="text-center">Un ejecutivo te contactará a la brevedad.</p>
              <p class="text-center" :href="'tel:'+$store.state.config.telefonoAS"> o si lo prefieres llama ahora al <span class="numas">  {{$store.state.config.telefonoAS}}</span> </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-verde" type='button' data-dismiss='modal'>Cerrar</button>
            </div>
          </div>
        </div>
      </div>               
    </div>
    <div class="col-12 col-md-6 col-lg-4" v-show="$store.state.cargandocotizacion">
      <a class="btn b-comprarinter btn-success btn-block"
         rel="nofollow"
         role="button"
         data-target="#lineaModalqualitas"
         data-toggle="modal"
          @click="conectarAEmision()"
          v-bind:class="{disabled: this.$store.state.config.habilitarBtnEmision}">
      <div class=" telbtn">
          <img src="img/carSuper.svg" alt="car" class="itel"/>
      </div>
      <div>
        <p class="llamar mb-0">Comprar en</p>
        <strong class="llamar">Línea</strong>
      </div>                        </a>
    </div>
  </div>
</template>

<!--ESTO ESTABA EN OTROS GRACIAS COMO --G N P-- 

<div class="row"> <--botones nuevos->

                      <div class="col-12 col-md-6 col-lg-4 ">
                        <button class="b-veraseg btn btn-block" data-toggle="modal" data-target="#exampleModal"  @click="conectarAInteraccion(), disabled=! disabled" :disabled = "disabled"> <//--data-toggle='modal', data-target='#exampleModal' @click="enviarLead(indice),  disabled=! disabled" :disabled = "disabled"--como se quito la venta de lead por eso se quito eso por que si no sale error ->                          
                          <div class="telbtn">
                            <img class="itel" src="img/diadema.svg" alt="diadema">     
                          </div>
                          <div>
                            <p class="llamar">Recibir llamada</p>
                            <strong class="grat">Gratuita</strong>
                          </div>
                        </button>
                      </div>
                        <//-- Btn compra en linea ->
                      <div class="col-12 col-md-6 offset-md-3 offset-lg-0 col-lg-4 ">
                        <a class="btn b-comprarinter btn-success btn-block"
                          rel="nofollow"
                          role="button"
                          data-target="#lineaModalgnp"
                          data-toggle="modal"
                          @click="conectarAEmision()"
                          v-bind:class="{disabled: this.$store.state.config.habilitarBtnEmision}">
                            <div class="telbtn">
                              <img src="img/carSuper.svg" alt="car" class="itel"/>
                            </div>
                            <div>
                              <p class="llamar mb-0">Comprar en</p>
                              <strong class="llamar">Línea</strong>
                            </div>                        
                        </a>
                      </div>
                        
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content modal-asesoria">
                              <div class="modal-header">0
                                <img class="figure-img img-fluid rounded img-modal" :src="'img/aseguradoras-logo/color/gnp.svg'" alt="">
                              </div>
                              <div class="modal-body">
                                <p class="text-center">GNP Te contactará a la brevedad, asegura tu auto y obtén {{$store.state.aseguradoras.GNP.promo}}</p>
                                <p class="text-center" :href="'tel:'+$store.state.aseguradoras.GNP.phonecotizar"> o si lo prefieres llama ahora al <span class="numas">  {{$store.state.aseguradoras.GNP.phonecotizar}}</span> </p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-verde" type='button' data-dismiss='modal'>Cerrar</button>
                              </div>
                            </div>
                          </div>
                      </div>
                        <//-- Modal de boton de compra en linea ->
                      <div class="modal fade" id="lineaModalgnp" tabindex="-1" role="dialog" aria-labelledby="lineaModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content modal-asesoria">
                              <div class="modal-header">
                                <img class="figure-img img-fluid rounded img-modal" :src="'img/aseguradoras-logo/color/gnp.svg'" alt="">
                              </div>
                              <div class="modal-body">
                                <p class="text-center">En un momento unos de nuestros ejecutivos se pondran en contacto contigo.</p>
                                <p class="text-center" :href="'tel:'+$store.state.aseguradoras.GNP.phonecotizar"> o si lo prefieres llama ahora al <span class="numas">  {{$store.state.aseguradoras.GNP.phonecotizar}}</span> </p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-verde" type='button' data-dismiss='modal'>Cerrar</button>
                              </div>
                            </div>
                          </div>
                      </div>              
                    </div>
-->
<script>
    export default {
        data(){
            return{
                disabled: false
            }
        },
        methods:{
            conectarAInteraccion(){
                this.disabled = true
                this.$store.state.config.habilitarBtnInteraccion = true
                this.$store.commit('saveInteraccion')
            },
            conectarAEmision(){
                this.$store.state.config.habilitarBtnEmision = true
                this.$store.commit('saveEmision')
            }
        }
    }
</script>