<template>
 <div>
  <!--<alerta-content/>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pl-md-5 pr-md-5">
        <a href="https://comparaya.mx/seguros-de-autos/">
                    <span class="logocom ms-lg-4 mt-2"></span>

          <!--<img src="~/static/img/comparaya1.png" class="imgcompara">-->
        </a>
        <a :href="'tel:'+$store.state.config.telefonoAS" type="butto n" class=" btn-tel" id="idTelDID"> 
          <i class="fa fa-phone mt-0"></i>  {{$store.state.config.telefonoAS}}</a>
      </div>
    </div>
  </div>
 </div>
 
</template>
<style>
.btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 9px 35px 10px 0px;
}
.btn-tel:hover {
  color: #777;
}

.btntel{background-color: #04de66;border: none;}
.btn-outline-success {
    border-bottom: 3px solid #00de46;
    border-top: none;
    border-right: none;
    border-left: none;
}
.btn-outline-success:hover {
color: #04de66;background-color: transparent;
background-image: none;
border-bottom: 3px solid #00de46;
border-top: none;
    border-right: none;
    border-left: none;
border-radius: 0px;
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
color: #04de66;background-color: transparent;
background-image: none;
border-bottom: 3px solid #00de46;
border-top: none;
    border-right: none;
    border-left: none;
border-radius: 0px;
}
.btn-outline-success.focus, .btn-outline-success:focus {box-shadow: 0 0 0 0rem #04de66;}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.0rem rgba(40, 167, 69, .5);

}
@media (min-width: 769px) and (max-width: 1100px) {
  .btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 12px 0px 10px 0px;
    font-size: 14px;
  }
}
@media (min-width: 661px) and (max-width: 768px) {
  .btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 12px 3px 10px 0px;
    font-size: 14px;
  }
}
@media (min-width: 426px) and (max-width: 660px) {
  .btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 12px 0px 10px 0px;
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 12px 0px 10px 0px;
    font-size: 14px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 12px 0px 10px 0px;
    font-size: 14px;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .btn-tel{
    float:right;
    color: #777;
    border: solid 1px #00de46;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 12px 0px 10px 0px;
    font-size: 14px;
  }
}

</style>

<script>
//import alertaContent from './alerta.vue'

export default {
  created: function () {
    this.$store.state.config.telefonoAS = '';
  },
  components: {
    alertaContent
  }
}
</script>
