<template>
 <div>
  <div class="container-fluid px-0 py-md-2">
    <div class="row">
      <div class="col-3 m-auto">
        <a href="https://comparaya.mx/seguros-de-autos/">
          <span class="logocompa ms-lg-4"></span>
        </a>
      </div>

      

      <div class="col-3 offset-6">
        <a id="idTelDID" :href="'tel:55' +$store.state.config.telefonoAS" type="button" class=" btn-telef lista">
           <span class="imgtelef mr-1"></span> 55{{$store.state.config.telefonoAS}}</a>
      </div>
      <!--<div class="col-12 pl-md-5 pr-md-5">
        <a href="https://comparaya.mx/seguros-de-autos/">
          <span class="logocom"></span>
        </a>
        <a :href="'tel:55' +$store.state.config.telefonoAS" type="button" class=" btn-tel lista">
           <span class="imgtel"></span> 55{{$store.state.config.telefonoAS}}</a>
      </div>-->
    </div>
  </div>
 </div>
</template> 

