<template lang="pug">
    div
        <div class="spinner pd-t">
    .container1
        .row
            .col-sm-12
                .col-sm-3(style='float: left;')
                    .post
                        .avatar
                        .stars
                            .line-txt
                .col-sm-3(style='float: left;')
                    .post
                        .line-short
                        .line-short
                        .line-img
                    .post
                        .line-short
                        .line-short
                        .line-img
                .col-sm-3(style='float: left;')
                    .post
                        .line-txt
                        .line-short
                        .line-short
                        .line-img
                .col-12.col-sm-12.col-md-3(style='float: left;')
                    .post
                        .line-btn
        </div>


</template>
<style scoped>
    /*.spinner {margin: 100px auto 0; width: 70px; text-align: center;}
    .pd-t{margin-top: 0;}
    .spinner > div {width: 18px;height: 18px;background-color: #00edff; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
    .spinner .bounce1 {-webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
    .spinner .bounce2 {-webkit-animation-delay: -0.16s; animation-delay: -0.16s;}
    @-webkit-keyframes sk-bouncedelay {0%, 80%, 100% { -webkit-transform: scale(0) } 40% { -webkit-transform: scale(1.0) }}
    @keyframes sk-bouncedelay { 0%, 80%, 100% {-webkit-transform: scale(0); transform: scale(0);} 40% {-webkit-transform: scale(1.0); transform: scale(1.0);}}
    .container1 {background-color:#fdfdfd;border:1px solid #ddd;border-radius:4px;margin:10px auto 0;padding:15px;}*/
    /*  height: 100vh;display:inline-block;flex-direction: column;justify-content: center; align-items: center;*/
    /*.post {width:100%;height:auto;display:inline-block;/*width: 220px;height: 80px;* /}*/
    /*.post .avatar{width:100px;height:2.5em;background-color:#ccc;border-radius:4px;margin:0 auto; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritosquare 2s infinite ease-out;}
    .post .stars{width:100px;height:20px;color:#fdfdfd;margin:5px auto;display:block;}
    .post .line{width:140px;height:1em; margin:6px auto;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
    .post .line-short{float:left;width:1em;height:1em;margin:6px; border-radius:4px;background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
    .post .line-txt{height:1em;margin:6px auto;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
    .post .line-img{float:left;width:140px;height:1em;margin:6px auto;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
    .post .line-btn{width:160px;height:2em;margin:15px auto 0;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size: 600px;animation: anim-perritolarge 2s infinite ease-out;}
    @keyframes anim-perritolarge {0% {background-position: -100px;}40%, 100% {background-position:140px;}}
    @keyframes anim-perritosquare {0% {background-position: -32px;}40%, 100% {background-position: 208px;}}*/
</style>
