<template>
  <div></div>
</template>
<script>
import cotizacion from "~/plugins/cotizacion";
import SaveService from "~/plugins/saveTrigarante";
import validacionesService from "~/plugins/validaciones";

const saveService = new SaveService();
const tokenData = process.env.tokenData;

export default {
  data() {
    return {
      validacion: new validacionesService(),
    };
  },
  created: function() {
    if (this.$store.state.formData.nombre != "") {
      this.validateData();
      this.gclid();
      // this.saveDataCliente();
      this.$store.state.formData.aseguradora = this.$store.state.config.aseguradoraCatalogos;
      this.$store.state.config.loading = true;
    } else {
      this.$router.replace({ path: "/error/" });
    }
  },
  methods: {
    gclid: function() {
      if (
        localStorage.getItem("gclid") === null ||
        localStorage.getItem("gclid") === "undefined"
      ) {
      } else {
        this.$store.state.gclid_field = localStorage.getItem("gclid");
        this.$store.state.formData.gclid_field = JSON.parse(
          this.$store.state.gclid_field
        );
      }
    },
    saveHubspot: function(state) {
      let data = {
        mobilephone: this.$store.state.formData.telefono,
        email: this.$store.state.formData.correo,
        firstname: this.$store.state.formData.nombre,
        lastname: "",
        marca: this.$store.state.formData.marca,
        modelo: this.$store.state.formData.modelo,
        submarca: this.$store.state.formData.descripcion,
        socio: "QUALITAS",
      };
      saveService
        .saveHubspot(JSON.stringify(data))
        .then((resp) => {
          this.$store.state.formData.idHubspot = resp.data.id;
          this.saveDataCliente();
        })
        .catch((error) => {
          console.log("mensaje de error33 ¨*********", error);
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.formData.idHubspot = resp.data.message;
                  console.log(
                    "mensaje de error11 ¨*********",
                    this.$store.state.formData.idHubspot
                  );
                }
                this.saveDataCliente();
              })
              .catch((error) => {
                this.$store.state.formData.idHubspot = resp.data.message;

                this.saveDataCliente();
              });
          } else {
            this.$store.state.formData.idHubspot =
              typeof error.response == "undefined"
                ? "{}"
                : error.response.data.message;
            this.saveDataCliente();
          }
        });
    },
    saveDataCliente: function() {
      // this.$store.state.formData.urlOrigen= window.location.href;
      let dataCotizacion = {
        aseguradora: this.$store.state.config.aseguradoraCatalogos,
        clave: this.$store.state.formData.clave,
        cp: this.$store.state.formData.cp,
        detalle: this.$store.state.formData.detalle,
        descripcion: this.$store.state.formData.descripcion,
        descuento: this.$store.state.config.descuento,
        edad: this.$store.state.formData.edad,
        fechaNacimiento: (
          "01/01/" +
          (
            new Date().getFullYear() - this.$store.state.formData.edad
          ).toString()
        ).toString("dd/MM/yyyy"),
        genero: this.$store.state.formData.genero,
        marca: this.$store.state.formData.marca,
        modelo: this.$store.state.formData.modelo,
        movimiento: "cotizacion",
        paquete: "AMPLIA",
        servicio: "PARTICULAR",
      };
      this.$store.state.formData.dominioCorreo = this.$store.state.config.dominioCorreo;
      this.$store.state.config.dataPeticionCotizacion = dataCotizacion;
      let datosCliente;
      //this.$store.state.formData.telefonoValid = false;
      datosCliente = {
        datosCot: JSON.stringify(this.$store.state.formData),
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        idPagina: this.$store.state.config.idPagina,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticionesAli: JSON.stringify(dataCotizacion),
      };
      this.enhancedConversionGTAG();
      saveService
        .saveDataCliente(
          JSON.stringify(datosCliente),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          this.$store.state.formData.idLogData = resp.data.data.idLogClient;
          this.saveProspecto();
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                this.saveDataCliente();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 1;
              });
          } else {
            this.$store.state.idEndPoint = 1;
          }
        });
    },
    validateData: function(state) {
      this.validacion
        .validarCorreo(this.$store.state.formData.correo)
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.$store.state.formData.emailValid = resp.valido;
          } else if (typeof resp.data.valido != "undefined") {
            this.$store.state.formData.emailValid = resp.data.valido;
          }
          this.validacion
            .validarTelefono(this.$store.state.formData.telefono)
            .then((resp) => {
              if (typeof resp.data == "undefined") {
                this.$store.state.formData.telefonoValid = resp.mensaje;
              } else if (typeof resp.data.mensaje != "undefined") {
                this.$store.state.formData.telefonoValid = resp.data.mensaje;
              }
              this.validacionCP();
            })
            .catch((error) => {
              this.$store.state.formData.telefonoValid = "FIJO";
              this.$store.state.idEndPoint = 169;
              this.validacionCP();
            });
        })
        .catch((error) => {
          this.$store.state.formData.emailValid = true;
          this.$store.state.idEndPoint = 157;
          this.validacion
            .validarTelefono(this.$store.state.formData.telefono)
            .then((resp) => {
              if (typeof resp.data == "undefined") {
                this.$store.state.formData.telefonoValid = resp.mensaje;
              } else if (typeof resp.data.mensaje != "undefined") {
                this.$store.state.formData.telefonoValid = resp.data.mensaje;
              }
              this.validacionCP();
            })
            .catch((error) => {
              this.$store.state.formData.telefonoValid = "FIJO";
              this.$store.state.idEndPoint = 169;
              this.validacionCP();
            });
        });
    },
    validacionCP(state) {
      this.validacion
        .validarCodigoPostal(
          this.$store.state.formData.cp,
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          this.$store.state.formData.codigoPostalValid =
            typeof resp.data == "object" && resp.data.length > 0 ? true : false;
          this.saveDataCliente();
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          this.$store.state.formData.codigoPostalValid = true;
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                this.validacionCP();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
                this.saveProspecto();
              });
          } else {
            this.$store.state.idEndPoint = 16;
          }
        });
    },
    cotizar: function(state, cobertura) {
      cotizacion
        .search(
          JSON.stringify(this.$store.state.config.dataPeticionCotizacion),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          resp = JSON.parse(resp.data.data);
          this.$store.state.cotizacion = resp;
          this.$store.state.cotizacion.cliente.telefono = this.$store.state.formData.telefono;
          this.$store.state.cotizacion.cliente.fechaNacimiento = this.$store.state.formData.fechaNacimiento;
          if (typeof resp != "string") {
            if (
              Object.keys(resp.cotizacion).includes("primaTotal") &&
              resp.cotizacion.primaTotal != null &&
              resp.cotizacion.primaTotal != ""
            ) {
              this.$store.state.formData.precio = this.$store.state.cotizacion.cotizacion.primaTotal;
              this.saveCotizacion();
              this.limpiarCoberturas();
            } else {
              this.saveCotizacion();
            }
          } else {
            this.saveCotizacion();
          }
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                return this.cotizar();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
              });
          } else {
            this.$store.state.cotizacion = {};

            this.saveCotizacion();
          }
        });
    },
    limpiarCoberturas(state) {
      if (this.$store.state.cotizacion.Coberturas) {
        for (var c in this.$store.state.cotizacion.Coberturas[0]) {
          if (
            this.$store.state.cotizacion.Coberturas[0][c] === "" ||
            this.$store.state.cotizacion.Coberturas[0][c] === "-"
          ) {
            delete this.$store.state.cotizacion.Coberturas[0][c];
          }
        }
      }
    },
    enhancedConversionGTAG: function() {
      dataLayer.push({
        event: "Lead",
        phone: "52" + this.$store.state.formData.telefono,
        email: this.$store.state.formData.correo,
      });
    },
    saveProspecto: function(state) {
      let dataProspecto = {
        nombreUsr: this.$store.state.formData.nombre,
        emailUsr: this.$store.state.formData.correo,
        datosCot: JSON.stringify(this.$store.state.formData),
        telefonoUsr: this.$store.state.formData.telefono,
        generoUsr: this.$store.state.formData.genero,
        codigoPostalUsr: this.$store.state.formData.cp,
        edadUsr: this.$store.state.formData.edad,
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        idPagina: this.$store.state.config.idPagina,
        ip: this.$store.state.config.ipCliente,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticionAli: JSON.stringify(
          this.$store.state.config.dataPeticionCotizacion
        ),
      };

      saveService
        .saveProspecto(
          JSON.stringify(dataProspecto),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          /*NUMERO DE COTIZACION DEL CLIENTE
           * idCotizaciones
           * idProductoSolicitud
           * */
          if (typeof resp.data == "undefined") {
            this.$store.state.config.idCotizacionNewCore = resp.idCotizaciones;
            this.$store.state.config.idProductoSolicitud =
              resp.idProductoSolicitud;
            this.$store.state.cotizacionAli = resp.idCotizacionAli;
          } else {
            this.$store.state.config.idCotizacionNewCore =
              resp.data.data.idCotizaciones;
            this.$store.state.config.idProductoSolicitud =
              resp.data.data.idProductoSolicitud;
            this.$store.state.cotizacionAli = resp.data.data.idCotizacionAli;
          }
          if (this.$store.state.config.cotizacion) {
            this.cotizar();
          } else {
            this.saveCotizacion();
          }
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                return this.saveProspecto();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
              });
          } else {
            this.valid();
          }
        });
    },
    saveCotizacion: function(state) {
      this.valid();
      var jsonPeticionWs = {
        idCotizacion: this.$store.state.config.idCotizacionNewCore,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticion: JSON.stringify(
          this.$store.state.config.dataPeticionCotizacion
        ),
        respuesta: JSON.stringify(this.$store.state.cotizacion),
      };
      saveService
        .saveCotizacion(
          JSON.stringify(jsonPeticionWs),
          this.$store.state.config.accessToken,
          this.$store.state.cotizacionAli
        )
        .then((respNuevaCotizacion) => {
          this.$store.state.config.id_cotizacion_a = respNuevaCotizacion;
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                return this.saveCotizacion();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
              });
          } else {
            this.$store.state.idEndPoint = 132;
          }
        });
    },
    valid: function(state) {
      this.$store.state.config.reload = true;
      if (
        this.$store.state.formData.precio === "" &&
        this.$store.state.ejecutivo.id === ""
      ) {
        this.$store.state.msj = true;
      }

      if (
        this.$store.state.formData.precio === 0.0 ||
        this.$store.state.formData.precio === "" ||
        this.$store.state.formData.precio < 1000 ||
        !this.$store.state.formData.precio
      ) {
        this.$store.state.msjEje = true;
        this.$store.state.config.loading = false;
      } else {
        this.$store.state.cargandocotizacion = true;
      }
    },
  },
};
</script>
