<template>
  <div class="container-fluid margen-t">
    <div class="row">
      <div class="col-4 col-md-4 col-lg-4 text-center my-4">
      	<img src="https://comparaya.mx/wp-content/uploads/src/list.svg" class="iconCompara">
      	<span class="text-white textoe"> Mínimos requisitos</span>
      </div>
       <div class="col-4 col-md-4 col-lg-4 text-center my-4">
      	<img src="https://comparaya.mx/wp-content/uploads/src/list.svg" class="iconCompara">
      	<span class="text-white textoe"> Compara fácil y rápido</span>
      </div>
       <div class="col-4 col-md-4 col-lg-4 text-center my-4">
      	<img src="https://comparaya.mx/wp-content/uploads/src/list.svg" class="iconCompara">
      	<span class="text-white textoe"> 100% transparente</span>
      </div>
    </div>
  </div>
</template>
<style>.iconCompara{width:60px;height:auto;display:block;margin:0 auto;}</style>