<template>
  <div>
    
    <header-component/>
    <nuxt/>
    <footer-component/>
  </div>
</template>
<script>
  import HeaderComponent from '~/components/common/Header.vue'
  import FooterComponent from '~/components/common/Footer.vue'
  export default {
    components: {
      HeaderComponent,
      FooterComponent
    }
  };
</script>
