<template>
  <div>
    <!-- <cookies></cookies> -->
    <div class="container-fluid bg-taxis">
      <header-component />

      <div class="row marg-arr-iba">
        <div class="col-12 col-md-5 mt-4">
          <!--PROMO HOTSALE-->
          <div class="row contenedorPromo">
            <div class="container-fluid p-0 m-0 adornosPromo">
              <div class="row pt-3 pb-1 px-2">
                <div class="col-4 mt-2 mt-md-1">
                  <img
                    src="img/aseguradoras-logo/color/taxi.svg"
                    alt="logo"
                    class="img-fluid"
                    width="185"
                    height="74"
                  />
                </div>
                <div
                  class="col-2 px-1 mt-1 mt-md-2 mt-lg-0"
                  v-if="this.$store.state.config.promoSpecial"
                >
                  <img
                    :src="this.$store.state.config.promoImg"
                    alt="logo promocion"
                    class="m-auto img-fluid"
                    v-if="this.$store.state.config.promoSpecial"
                  />
                </div>
                <div
                  :class="
                    this.$store.state.config.promoSpecial ? 'col-6' : 'col-8'
                  "
                >
                  <!-- Obtén y msi son estáticos, solo descuentosPromo y msiPromo son dinámicos -->
                  <small class="labelPromo">{{
                    $store.state.config.promoLabel
                  }}</small>
                  <p class="descuentosPromo">{{ $store.state.config.desc }}</p>
                  <small class="msiPromo">{{ $store.state.config.msi }}</small>
                  <small class="labelendPromo fw-bold">
                    {{ this.$store.state.config.extraMsg }}
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="d-none d-md-block text-center mt-5">
            <picture>
              <source srcset="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" type="image/png" />
              <img
                src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
                alt="mono compara"
                class="fig1 mt-lg-2"
              />
            </picture>
          </div>
          <div class="row d-none d-md-flex">
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="tarjeta1c"></span>
              <small class="tsmall">12 Meses Sin Intereses </small>
            </div>
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="etiq1c"></span>
              <small class=" tsmall">Ahorra hasta el 50%</small>
            </div>
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="reloj1c"></span>
              <small class="tsmall">compara en 10 segundos</small>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 px-4 mt-md-3 mt-lg-5">
          <h1 class="tprin text-center">Cotiza tu Seguro para Taxi</h1>
          <small class="text-center text-peq d-block text-muted"
            >Ingresa los datos de tu auto para cotizar en segundos</small
          >
          <autos-form-landing
            :config="this.$store.state.config.aseguradora"
          ></autos-form-landing>
        </div>
      </div>

      <!--VISTA DE CEL-->
      <div class="row  d-md-none py-3">
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="tarjeta1c"></span>
          <small class="">12 Meses Sin Intereses </small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="etiq1c"></span>
          <small class="">Ahorra hasta el 50%</small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="reloj1c"></span>
          <small class="">compara en 10 segundos</small>
        </div>
      </div>
    </div>
    <!-------------------------***************  CONTENIDO  *****************------------------------------>
    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">¿Por qué usar Compara Ya?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">
            En Compara Ya, nos dimos a la tarea de analizar las alternativas que
            hay en el mercado asegurador, para que puedas hacer una contratación
            completa y estable, con los mejores beneficios para ti y tu taxi.
          </p>
          <p class="text">
            Contrata el seguro ideal para tus necesidades, con los precios y
            beneficios que requieres, atrévete y Compara Ya.
          </p>
          <p class="text">Cobertura:</p>
          <ul class="pl-3 ">
            <li class="text lista">
              <span class="circulito"></span> Protege Daños Materiales.
            </li>
            <li class="text lista">
              <span class="circulito"></span> En caso de Rotura de Cristales.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Pérdida Total por Daños
              Materiales.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Y puedes encontrar mas información
              abajo.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">
            ¿Qué Beneficios obtengo con mi Seguro para Taxis?
          </h3>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">
            Saber que seguro nos conviene contratar va a depender directamente
            de las características que tengan, además de que estos puedan ser
            calificados como excelentes seguros para taxi, con esta cantidad es
            algo de lo que nos debemos de ocupar al querer contratar un
            determinado seguro, por ahora en lo que nos evocamos a través de
            algunas especificaciones, es la manera en que se desarrollan o
            desempeñan.
          </p>
          <p class="text">
            Esto puede traducirse a que del desempeño de la compañía
            aseguradora, lo que se hace como absoluta honestidad, y
            permitiéndole así a cada uno de sus clientes que puedan encontrar la
            cobertura o el plan de seguro que mejor les convenga así como la
            asesoría responsable, además de la innovación, con la que se pueda
            contar al momento de ocupar la protección y respaldo que ofrece el
            seguro para taxi.
          </p>
          <p class="text">
            Poder asegurar nuestro vehículo o contratar un seguro para taxi
            tiene muchos beneficios, entre los más conocidos podemos encontrar
            el ahorro de dinero, además del resguardo de vida y protección de
            los pasajeros o del conductor, así como la seguridad y respaldo del
            medio de trabajo o principal fuente de ingreso, de todo ello lo que
            podemos encontrar es lo siguiente:
          </p>
          <ul class="pl-0 pl-md-3">
            <li class="text lista">
              <span class="circulito"></span> Tu seguro para taxi puede amparar
              tu economía como conductor del taxi aún cuando seas culpable de un
              choque y que tengas que pagar los daños que se hayan ocasionado a
              otro vehículo involucrado.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Este se hará cargo de la
              Responsabilidad Civil en que se pueda incurrir como conductor
              distinto al asegurado, esto se hará valido siempre y cuando sea
              con el consentimiento de éste. Como beneficio se puede incluir el
              resarcimiento de los Daños Materiales o de los bienes, así como de
              las lesiones físicas, e inclusive la muerte que le sea ocasionado
              a un tercero.
            </li>
            <li class="text lista">
              <span class="circulito"></span> La Póliza de seguro te cubre los
              Gastos Médicos de los ocupantes en caso de siniestro, este te
              incluye a los familiares del conductor, en caso de que haya
              resultado lesionados en un accidente vial.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Ante cualquier daño material que
              le pueda ocurrir al taxi por causa de un choque o de una
              inundación esta quedará solventado por tu póliza de seguro.
            </li>
            <li class="text lista">
              <span class="circulito"></span> El taxi en caso de que sufra algún
              daño parcial, este podrá ser reparado en una determinada agencia.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Si el conductor resulta
              involucrado en un accidente y que este se derive en problemas
              legales, siempre tendrá disponible el asesoramiento y apoyo de un
              abogado.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Los conductores de taxi, no
              tendrán que preocuparse si su auto les llega a fallar y en el
              supuesto caso los dejé aparcados en algún lugar, sin poder llevar
              a sus pasajeros al destino predeterminado, ya que podrán pedir un
              auto sustituto de alquiler, para que este se desplace a los
              ocupantes del auto a su lugar de destino.
            </li>
            <li class="text lista">
              <span class="circulito"></span> En el caso de que ocurra una
              pinchadura de neumático se podrá contar con la asistencia de la
              compañía aseguradora que haya contratado, para su reparación o
              reposición.
            </li>
            <li class="text lista">
              <span class="circulito"></span> Si tu auto taxi se queda sin
              combustible gasolina o le falta la bateria para continuar con la
              marcha, se le otorgará el auxilio al asegurado con el paso de
              corriente y gasolina.
            </li>
            <li class="text lista">
              <span class="circulito"></span> En caso de algún traslado se llega
              enfermar algún pasajero o el conductor del mismo taxi se podrá
              solicitar la asesoría de un médico por vía telefónica.
            </li>
          </ul>
          <p class="text">
            Es poco común que las compañías aseguradoras puedan incluir un
            seguro especial o específico para este tipo de autos, sin embargo,
            en nuestro país existen algunas compañías que se logran adaptar a
            las necesidades de cada uno de sus contratantes, como ejemplo de
            ello, se puede contemplar una indemnización por los gastos médicos
            del conductor y pasajeros accidentados.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">Coberturas en Seguros para Taxis</h3>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">
            Dentro de las especificaciones que debe estar integrado en la póliza
            de seguro que contrates para tu taxi deberá incluir la cobertura
            básica o los beneficios esenciales, para ello está la
            responsabilidad civil de daños a terceros, así como la
            responsabilidad civil del viajero y los gastos médicos al conductor.
          </p>
          <p class="text">
            En las pólizas más completas se logrará incluir el robo total del
            vehículo, así como la extensión de responsabilidad civil, o de los
            gastos médicos para los ocupantes y para el conductor, además de
            algún tipo de asistencia, si bien esta sea legal o vial.
          </p>
          <p class="text">
            A pesar de que no es muy común que los paquetes de cobertura más
            simples sólo sean integrados en su responsabilidad civil
            obligatoria, es sumamente importante que revises o realices un
            análisis que tu póliza incluya a tu pasajero dentro de las sumas
            aseguradas, que por lo regular puedes encontrarlas este segmento
            como “Seguridad del Viajero”.
          </p>
          <p class="text">
            De esto esto es la importancia, pues va a recaer en que, si llega a
            ocurrir un siniestro, no sólo están en riesgo las personas fuera del
            auto, sino cada uno de los involucrados en el accidente, esto
            incluye a los pasajeros.
          </p>
          <p class="text">
            <strong
              >Estas son las coberturas o planes de seguro que puedes encontrar
              en la protección de tu taxi:</strong
            >
          </p>
          <ul id="check" class="pl-0 pl-md-3">
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Protege Daños Materiales:</strong> Se encarga de cubrir
              los daños del auto, derivado de colisiones , vuelcos, rotura de
              cristales y/o desastres naturales como incendios, inundaciones,
              rayos y granizo.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>En caso de Rotura de Cristales:</strong> Con tu póliza de
              seguro podrás garantizar el pago o la reposición de los cristales
              en caso de accidentes, esto no será válido para los casos de los
              cristales blindados.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Pérdida Total por Daños Materiales:</strong> Esta se
              deriva en la indemnización que puede corresponder al valor de la
              factura del auto, al valor comercial, con un valor pactado de tu
              auto o que se pueda ser el resto de la prima no devengada; esta va
              a depender de lo que se estipula en el contrato de la póliza.
              Además que al momento que se aplica los costos de reparación del
              auto sean mayores al 50% de su valor de, auto o de la suma
              asegurada, o que sea válida en caso de colisiones, fenómenos
              naturales, actos vandálicos, descarrilamiento o caída
              catastrófica.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Protección ante Robo Total:</strong> Es una indemnización
              que se le otorga al asegurado en caso del robo del total, la cual
              es variable según la compañía aseguradora.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong
                >Cobertura por Responsabilidad Civil por Daños a
                Terceros:</strong
              >
              El beneficiario de la póliza podrá hacer frente a los daños que se
              le originen a causa del uso del auto a terceros en sus bienes o en
              sus personas, incluso si este no es el conductor.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Asistencia legal y Jurídica:</strong> Este es un beneficio
              que consiste en los servicios profesionales de abogados por las 24
              horas del día en caso de accidente de tránsito.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Gastos Funerarios:</strong> En caso de la muerte del
              conductor a causa de un accidente automovilístico, este va a
              cubrir los gastos del fallecimiento del operador a causa de
              colisión.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Cubre la Responsabilidad Civil Ocupantes:</strong> Con
              este beneficio se podrás proteger a los daños, o bienes y personas
              que sean pasajeros de un taxi, esto significa que se incluyen los
              gastos médicos de los ocupantes y de la pérdida o de los daños a
              su equipaje.
            </li>
            <li class="text lista">
              <span class="circulito"></span>
              <strong>Cuenta con la Asistencia Vial del Taxi:</strong> Con ello
              puedes brindar el auxilio vial en caso de una avería mecánica como
              la pinchadura de neumático, falta de batería, falta de gasolina,
              orientación médica, servicios de grúa y auto de repuesto, esto
              conforma a la compañía aseguradora con la que contrates.
            </li>
          </ul>
          <p class="text">
            De todo esto es importante que destaquemos que las coberturas de un
            seguro para taxi cambian conforme al paquete o el plan que sea
            contratado, esto significa que de un paquete básico o de la
            Responsabilidad Civil en general se contempla de los daños que
            resulten u ocasionen a terceros en sus bienes y personas.
          </p>
          <p class="text">
            Con tu cobertura de seguro para auto puedes sumar la cobertura de
            Robo Total, Asistencia Jurídica y Responsabilidad Civil Pasajero y
            de la Muerte del Conductor, en cambio, podrás contar con una
            cobertura amplia o plus, para que puedan ser incluidos en las
            coberturas mencionadas.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid my-3 my-lg-4 d-none d-md-block">
      <div class="row">
        <div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
          <picture>
            <source srcset="img/circulo-mono.webp" type="image/webp" />
            <img src="img/circulo-mono.png" alt="mono2" class="monocirc" />
          </picture>
        </div>
        <div class="col-7 col-md-6  my-auto">
          <div class="row">
            <div class="col-12 px-lg-5 fichabtn py-3">
              <p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
              <a
                href="#formulario"
                class="my-2 btn col-12 btn-success btncotiza"
              >
                <div class="form-e">
                  Cotizar Ahora <span class="f-sig"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h4 class="borde-tit">
            Más Privilegios en tu Seguros para Taxis en Compara Ya
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">
            Contratar una póliza de seguro para taxi, quizá te suene algo
            complicado, pues una contratación como esta suele implicar
            diferentes tipos de factores necesarios e importantes que tu seguro
            debe contener; en Compara Ya encontrarás múltiples alternativas de
            seguro, además que creemos que es más que necesario crear un perfil
            sobre las exigencias que como contratante tienes, pues esto es
            importante ya que con ello lograrás conseguir el seguro para taxi
            ideal para ti.
          </p>
          <p class="text">
            La póliza para un seguro de taxi es especial para los autos que se
            utilizan para el transporte público de pasajeros, ya que protegerá
            el auto asegurado, al conductor y a cada uno de sus pasajeros, que
            también se transporten en el momento que pueda ocurrir algún
            percance o en situaciones imprevistas. Además que va a cubrir cada
            uno de los daños que sean ocasionados a terceros en sus bienes
            materiales y personas físicas, además de los daños materiales que le
            puedan ser ocasionados a el mismo taxi y su conductor.
          </p>
          <p class="text">
            Una de las cosas más atractivas de este seguro es que está diseñado
            especialmente para aquellos que su auto sea un medio de trabajo y
            sobre todo una fuente importante de ingresos económicos; en nuestro
            país aproximadamente 7 de cada 10 vehículos no se encuentran
            asegurados, una de las cosas que logramos rescatar al momento que se
            le pregunta a los dueños por qué no contratan una póliza de seguro
            para taxi, la gran mayoría hace referencia a que este se considera
            un gasto caro, mientras que otros contestan no saber en donde
            contratar uno.
          </p>
          <p class="text">
            En el caso del medio de transporte público esto cambia, pues cada
            uno de los vehículos que estén concesionados, como colectivos,
            autobuses y taxis, o en caso específicos vehículos de gobierno como
            el metro, tren ligero, tren suburbano, metrobús, mexibús, trolebús y
            RTPs, cada uno de estos son obligados a adquirir una póliza de
            seguro, con la premisa de seguro de responsabilidad civil.
          </p>
          <p class="text">
            Adquirir un seguro para taxi es uno de los requisitos pertinentes
            que cada taxi debe tener, este te permite responder a cada usuario
            en caso de incurrir ante un accidente, de manera que cada pasajero
            pueda exigir el resarcimiento del daño. En nuestro país logramos
            encontrarnos entre los primeros diez países del mundo con más
            fallecimientos por medio de accidentes de tránsito y también en
            segundo lugar en Latinoamérica con más de 20 mil muertes por el
            mismo motivo.
          </p>
          <p class="text">
            Si bien sabemos existen muchos riesgos como conductor ya sea de
            vehículo particular como auto que sea taxi, esto puede aumentar la
            cantidad de ellos cuando se trata de un automóvil que se dedica al
            transporte de personas. Con ello es que deseamos tengas la
            información necesaria para que sepas cuáles son las posibilidad que
            tienes en la actualidad, además de que en Compara Ya, podrás
            calcular tu seguro para taxi, además de que conocerás las
            características principales del servicio, así como las propuestas
            que se recomiendan o te proponemos como las ideales para ti.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import HeaderComponent from "~/components/common/Header-principal.vue";
import AutosFormLanding from "~/components/forms/AutosFormLanding.vue";
import getInsurerPromo from "~/plugins/promoData.js";
import cookies from "~/components/common/cookies.vue";

export default {
  layout: "sin-alerta", //E S T O   E S   D E   L A    P R O M O C I O N
  beforeCreate: function() {
    this.$store.state.config.aseguradoraCatalogos = "QUALITAS";
    this.$store.state.config.aseguradora = "TAXI";
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.tresCaminos = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "41222066";
    this.$store.state.config.grupoCallback = "VN Taxis";
    this.$store.state.config.from = "COMPARAYA-TAXIS";
    this.$store.state.config.idPagina = 159;
    this.$store.state.config.idMedioDifusion = 1282;
    this.$store.state.config.idInteraccion = 2716;
    this.$store.state.config.idEcommerce = 2715; //Venta en Linea Ecommerce
    this.$store.state.config.idCampana = 30; //se cambio 43;
    this.$store.state.config.idSubRamo = 63; //8 5;
    this.$store.state.config.imgaseg = "atlas";
    this.$store.state.config.urlRedireccion = "/thanks";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.dominioCorreo =
      "TAXIS|comparaya-mx-seguros-para-taxis";

    this.$store.state.config.subproduct = "taxis";

    //H O T     V E N T A   D E   V E R A N O
    //this.$store.state.config.promo = " 10% de descuento";
    //this.$store.state.config.msi = "+ 6 y 12 meses sin intereses";
  },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradoraCatalogos,
        this.$store.state.config.subproduct
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      //Se establece el mensaje extra
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;

      /* Descomentar cuando la API mande estos valores
        y borrar los de abajo.

        store.state.config.cotizacion = insurer.quote;
        store.state.config.telefonoAS = insurer.phone;
        store.state.config.telefonoBtn = insurer.phone;

        */

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 =
          "col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 =
          "col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo = "descuentosPromo";
      }
    } catch (err) {
      console.log(err);
    }
  },
  components: {
    HeaderComponent,
    AutosFormLanding,
    cookies,
  },
  head() {
    return {
      title:
        "Seguros para Taxis - Cotiza Seguros de Autos Banorte - Comparaya.mx",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros Banorte, Banorte Seguros, Seguros de autos Banorte, Cotizador Banorte, Aseguradora Banorte, Cotizar seguro de auto Banorte, Seguros Banorte Autos",
        },
        {
          hid: "description",
          name: "description",
          content:
            "¡Cotiza Seguros Banorte al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Banorte. ¡Es fácil y rápido!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://comparaya.mx/seguros-para-taxis",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
