<template>
  <div class="bg-taxis">
    <header-component />
    <div class="container-fluid espacio-arr">
      <div class="row">
        <div class="col-4 offset-1 d-none d-md-block">
          <div class="text-right">
            <img src="img/mono2.png" alt="mono compara" class="mono-grac" />
          </div>
        </div>

        <div class="col-12 col-md-5 ms-md-5 my-4 my-md-auto">
          <h3 id="graciasPorcotizar" class="asegcoloraba titlethanks mb-0 mt-0">
            Hola {{ this.$store.state.formData.nombre }},
          </h3>
          <h3 class="asegcoloraba titlethanks mb-0 mt-0">
            ya tenemos las coberturas para tu seguro de taxi:
          </h3>
          <h5 class="texto-a">
            {{ this.$store.state.formData.marca }}
            {{ this.$store.state.formData.modelo }}
            {{ this.$store.state.formData.descripcion }}
            {{ this.$store.state.formData.detalle }}
          </h5>
        </div>
      </div>
    </div>
    <div
      v-if="!this.$store.state.cargandocotizacion && !this.$store.state.msjEje&& this.$store.state.config.loading"
    >
      <loader />
    </div>
    <div v-else>
      <thanktaxis-content />
    </div>
    <Logica/>
  </div>
</template>
<script>
import HeaderComponent from "~/components/common/Header-gracias.vue";
import ThanktaxisContent from "~/components/content/agradecimiento/Thanktaxis.vue";
import loader from "~/components/utilities/loading.vue";
import Logica from "../components/common/logica.vue";
export default {
  layout: "thanks",
  components: {
    HeaderComponent,
    ThanktaxisContent,
    loader,
    Logica,
  },
  head() {
    return {
      title:
        "Seguros para Taxis - Cotiza Seguros de Autos Banorte - Comparaya.mx",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros Banorte, Banorte Seguros, Seguros de autos Banorte, Cotizador Banorte, Aseguradora Banorte, Cotizar seguro de auto Banorte, Seguros Banorte Autos",
        },
        {
          hid: "description",
          name: "description",
          content:
            "¡Cotiza Seguros Banorte al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Banorte. ¡Es fácil y rápido!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://comparaya.mx/seguros-para-taxis/thanks/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
  created: function () {
    if (this.$store.state.formData.nombre != "") {
      this.$store.state.config.loading = true;
      this.$store.state.config.reload = true;
    } 
    this.$store.state.config.telefonoAS = "41222066";
  },
};
</script>
<style>
.asegcolor {
  color: #c4243e;
  font-weight: bold;
}
.btnv {
  display: none;
}
.subtitleh1 {
  color: #888;
}
.h1style {
  color: #555;
}
</style>
