<template lang="pug">
        div#formulario.col-12.col-lg-10.offset-lg-1
            form.mtmovile(method="POST" action="", novalidate="" @submit.prevent="checkBot")
                .row.mx-0
                    .col-6.col-md-6.col-lg-6.my-1
                        select.form-control.form-control-sm.form-select.custominput.custom-select(id="marca", 
                          name="marca",required="",v-model="$store.state.formData.marca",  
                          @change="getModelos(), myFocus('modelo')", 
                          style="overflow:hidden;width:100%;")
                            option(value="") Elige Marca
                            option(v-for="marca in formData.marcas" v-bind:key="marca.text") {{marca.text}}
                        <small style="display: none; color: red;" class="marcaReq"><span>El campo marca es requerido</span></small>

                    .col-6.col-md-6.col-lg-6.my-1
                        select.form-control.form-control-sm.form-select.custominput.custom-select(id="modelo", 
                        name="modelo",required="",
                        v-model="$store.state.formData.modelo",
                        @change="getDescripciones(), myFocus('descripcion')", 
                        style="overflow:hidden;width:100%;")
                            option(value="") Elige Modelo
                            option(v-for="modelo in formData.modelos" v-bind:key="modelo.text") {{modelo.text}}
                        <small style="display: none; color: red;" class="modeloReq"><span>El campo modelo es requerido</span></small>

                    .col-6.col-md-6.col-lg-6.my-1
                        select.form-control.form-control-sm.form-select.custominput.custom-select(id="descripcion", 
                        name="descripcion",required="",v-model="$store.state.formData.descripcion",  
                        @change="getSubDescripciones(), myFocus('detalle')", 
                        style="overflow:hidden;width:100%")
                            option(value="") Elige Submarca
                            option(v-for="descripcion in formData.descripciones" v-bind:key="descripcion.text") {{descripcion.text}}
                        <small style="display: none; color: red;" class="descripcionReq"><span>El campo Submarca es requerido</span></small>

                    .col-6.col-md-6.col-lg-6.my-1
                        select.form-control.form-control-sm.form-select.custominput.custom-select(id="detalle", 
                        name="detalle",required="",v-model="$store.state.formData.clave", 
                         @change="detalleSelected(), myFocus('edad')", 
                         style="overflow:hidden;width:100%")
                            option(value="") Elige Descripción
                            option(v-for="detalle in formData.subDescripciones" v-bind:key="detalle.text" :value="detalle.id") {{detalle.text}}
                        <small style="display: none; color: red;" class="detalleReq"><span>El campo Descripción es requerido</span></small>

                .row.py-2.mx-0
                    .col-12
                        small.mb-1 Datos del conductor:
                    .col-12.my-1
                        select.form-control.form-control-sm.form-select.custominput.custom-select(id="edad",
                        name="edad",required="",
                        v-model="$store.state.formData.edad", 
                        @change="calculaFechaNacimiento(),myFocus('genero'), warningReq('edadReq')", 
                        style="overflow:hidden;width:100%;")
                            option(value="") Edad del conductor
                            option(v-for="e in formData.edades" ) {{e}}
                        <small style="display: none; color: red;" class="edadReq"><span>El campo edad es requerido</span></small>
                    .col-6.col-md-6.col-lg-6.my-1
                        select.form-control.form-control-sm.form-select.custominput.custom-select(id="genero", 
                          name="genero",required="",
                          v-model="$store.state.formData.genero",  
                          @change="myFocus('cp'), warningReq('generoReq')", 
                          style="overflow:hidden;width:100%;")
                            option(value="") Género
                            option(value="M") Masculino
                            option(value="F") Femenino
                        <small style="display: none; color: red;" class="generoReq"><span>El campo genero es requerido</span></small>
                    .col-6.col-sm-6.col-md-6.col-lg-6.my-1
                        input.form-control.form-control-sm.custominput(id="cp", name="cp",
                            required="",
                            minlength="5", 
                            maxlength="5",
                            onKeyPress="if(this.value.length===5) return false;", v-model="cp", 
                            placeholder="Código postal", type="tel", @change=" myFocus('nombre') ", 
                            style="overflow:hidden;width:100%",)
                        <small style="display: none; color: red;" class="cpReq"><span>El campo codigo postal es requerido</span></small>
                        <small style="display: none; color: red;" class="cpInc"><span>El campo codigo postal es incorrecto</span></small>
                    .col-12.col-sm-12.col-md-12.col-lg-12.my-1
                        input.form-control.form-control-sm.custominput(id="nombre", name="nombre",
                        required="",
                        v-model="nombre", placeholder="Escribe tu nombre" type="email", 
                        @change="myFocus('correo'),space('nombre')", 
                        style="overflow:hidden;width:100%",)
                        <small style="display: none; color: red;" class="nombreReq"><span>El campo nombre es requerido</span></small>
                        <small style="display: none; color: red;" class="nombreInc"><span>El campo nombre es incorrecto</span></small>
                    .col-12.col-sm-12.col-md-6.col-lg-6.my-1
                        input.form-control.form-control-sm.custominput(id="correo", name="correo",
                        required="",
                        minlength="8",
                        maxlength="50",
                        v-model="correo", placeholder="Escribe tu email", type="text", 
                        @change="myFocus('telefono'),space('correo')", 
                        style="overflow:hidden;width:100%",)
                        <small style="display: none; color: red;" class="correoReq"><span>El campo e-mail es requerido</span></small>
                        <small style="display: none; color: red;" class="correoInc"><span>El e-mail es incorrecto</span></small>
                    .col-12.col-sm-12.col-md-6.col-lg-6.my-1
                        input.form-control.form-control-sm.custominput(id="telefono", name="telefono",
                        required="",
                        maxlength="10",
                        minlength="10",
                        onKeyPress="if(this.value.length===10) return false;", 
                        v-model="telefono", placeholder="Escribe tu teléfono" 
                        type="tel",@change="myFocus('b-precio')", 
                        style="overflow:hidden;width:100%",)
                        <small style="display: none; color: red;" class="telefonoReq"><span>El campo telefono es requerido</span></small>
                        <small style="display: none; color: red;" class="telefonoInc"><span>El telefono es incorrecto</span></small>

                          <input type="text" id="gclid_field" name="gclid_field" value="" style="visibility:hidden; display: none;"/>
                .row.mb-2.mx-0
                    .col-12
                        privacidad
                .row.m-0
                    div.d-grid.gap-2.p-0(style="width:100%")
                        button.btn.btn-success.btn-block.py-2(type="submit",id="b-precio", name="b-precio", style="font-size:26px;")
                            div.d-inline-flex Ver precios ahora
                                span.f-sig2
        
</template>
<script>
import axios from "axios";
import { load } from '@fingerprintjs/botd'
import marcasService from "~/plugins/marcas";
import modelosService from "~/plugins/modelos";
import descripcionesService from "~/plugins/descripciones";
import subdescripcionesService from "~/plugins/subdescripciones";
import monitoreoService from "../../plugins/monitoreo";
import privacidad from "~/components/common/privacidad.vue";
import dbService from "~/plugins/configBase";

export default {
  name: "app",
  data() {
    return {
      aseguradora: this.$store.state.config.aseguradora,
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
      },
      telefono: "",
      nombre: "",
      correo: "",
      accessToken: "",
      cp: "",
      marca: "",
      modelo: "",
      descripcion: "",
      detalle: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  components: {
    privacidad,
  },
  beforeCreate() {
    this.$store.commit("validarTokenCore");
    this.$store.commit("telApi");
    this.$store.commit("cotizacionPromo");
    this.isLoading = true;
  },
  created() {
    if (this.$store.state.config.reload) {
      this.$store.state.config.reload = false;
      if (typeof window !== "undefined") {
        window.location.reload();
      }
    }
    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.edad = "";
    this.$store.state.formData.cp = "";
    this.$store.state.formData.nombre = "";
    this.$store.state.formData.correo = "";
    this.$store.state.formData.telefono = "";
    this.$store.state.formData.modelo = "";
    this.$store.state.formData.marca = "";
    // this.$store.state.formData.descripcion='';
    this.$store.state.formData.detalle = "";
    this.$store.state.formData.genero = "";
    this.$store.state.formData.aseguradora = this.aseguradora;
    this.getMarcas();
    this.llenarEdades();
  },
  async mounted() {
     this.gclid();
    if (typeof window !== "undefined") {
      this.$store.state.formData.urlOrigen = window.location.href;
    }

    this.$store.state.formData.utmSource = this.$route.query.utm_source
      ? this.$route.query.utm_source
      : "No params detected";
    this.$store.state.formData.utmMedium = this.$route.query.utm_medium
      ? this.$route.query.utm_medium
      : "No params detected";
    this.$store.state.formData.utmCampaign = this.$route.query.utm_campaign
      ? this.$route.query.utm_campaign
      : "No params detected";
    this.$store.state.formData.utmId = this.$route.query.utm_id
      ? this.$route.query.utm_id
      : "No params detected";

    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: { tokenData: dbService.tokenData },
              })
            : JSON.stringify({
                error: error,
                peticion: { tokenData: dbService.tokenData },
              });
          console.log("Hubo un problema al generar el token");
        });
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
    //await this.getMarcas();
  },
  methods: {
gclid: function () {
        if (typeof window !== 'undefined') {
            const urlParams = new URLSearchParams(window.location.search);

            const gclid = urlParams.get('gclid');
            if (!gclid) {
                console.log("No existe gclid en la URL");
            } else {
                // Obtener la fecha actual
                const currentDate = new Date();
                // Establecer la fecha de caducidad en 90 días
                const expiryDate = currentDate.getTime() + (90 * 24 * 60 * 60 * 1000);
                // Almacenar el gclid en localStorage solo si existe en la URL
                const gclidData = {
                    expiryDate: expiryDate, // Convertir la fecha a formato ISO para almacenarla
                    value: gclid
                };
                localStorage.setItem('gclid', JSON.stringify(gclidData));
                this.$store.state.formData.gclid_field = JSON.stringify(gclidData);
            }
        }
    },

    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@");
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@");
          separado.forEach((element) => {
            cad2 += element.replaceAll("@", "");
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2;
        cadena = cadena.split(" ").join(" ").trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, "");
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(" ").join(" ").trim();
      }
      this[valor] = cadena;
    },
    getMarcas: function () {
      marcasService
        .search()
        .then((resp) => {
          this.formData.marcas = resp.data;
        })
        .catch((error) => {
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          console.log("Hubo un problema al cargar las marcas");
        });
    },
    getModelos: function () {
      document.getElementById("modelo").focus();
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      this.warningReq("marcaReq");
      modelosService
        .search(this.$store.state.formData.marca)
        .then((resp) => {
          this.formData.modelos = resp.data;
        })
        .catch((error) => {
          console.log(error);
          console.log(error, error.status);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          console.log("Hubo un problema al cargar los modelos");
        });
    },
    getDescripciones: function () {
      document.getElementById("descripcion").focus();
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      this.warningReq("modeloReq");
      descripcionesService
        .search(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
        .then((resp) => {
          this.formData.descripciones = resp.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          console.log("Hubo un problema al cargar las descripciones");
        });
    },
    getSubDescripciones: function () {
      document.getElementById("detalle").focus();
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      this.warningReq("descripcionReq");
      axios.get("https://api.ipify.org?format=json").then((resp) => {
        this.$store.state.config.ipCliente = resp.data.ip;
      });
      subdescripcionesService
        .search(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
        .then((resp) => {
          this.formData.subDescripciones = resp.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          console.log("Hubo un problema al cargar las subdescripciones");
        });
    },
    detalleSelected(evt) {
      //var index = evt.target.selectedIndex;
      //this.$store.state.formData.clave = evt.target.options[index].value;
      //this.$store.state.formData.detalle = evt.target.options[index].label;
      //this.myFocus("edad");
      var x = document.getElementById("detalle");
      var i = x.selectedIndex;
      if (this.$store.state.formData.clave != "") {
        this.$store.state.formData.detalle = x.options[i].text;
      } else {
        this.$store.state.formData.detalle = "";
      }
      this.warningReq("detalleReq");
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
      this.myFocus("genero");
    },
    llenarEdades() {
      if (
        this.aseguradora === "AIG" ||
        this.aseguradora === "SURA" ||
        this.aseguradora === "BXMAS"
      ) {
        for (var i = 24; i < 100; i++) {
          this.formData.edades.push(i);
        }
      } else {
        for (var i = 18; i <= 99; i++) {
          this.formData.edades.push(i);
        }
      }
    },

    checkBot() {
      load()
        .then(botd => botd.detect())
        .then(result => {
          if(!result.bot) {
            this.validateForm('form-1')
          } else {
            document.getElementById('b-precio').disabled = false;
          }
        })
    },
    validateForm(scope) {
      this.formValido = 1;
      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        if (document.getElementById("b-precio")) {
          document.getElementById("b-precio").disabled = true;
        }
        if (this.$store.state.config.ekomi) {
          $nuxt._router.push({ path: "/ekomi/cotizacion-ekomi" });
        } else {
          // this.saveDataCliente();
          $nuxt._router.push({ path: this.$store.state.config.urlRedireccion });
        }
      } else {
        if (document.getElementById("b-precio")) {
          document.getElementById("b-precio").disabled = false;
        }
      }
    },

    myFocus: function (id) {
      setTimeout(alertFunc, 1000);
      function alertFunc() {
        var e = document.getElementById(id);
        if (e) {
          e.focus();
        }
      }
    },

    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //ocultar warningReq
        this.warningView(idWarning, "none");
        let text = elemento.className;
        let result = text.replace(" is-invalid", "");
        let result2 = result.replace(" is-valid", "");
        elemento.className = result2;
        if (id == "cp" && this.$store.state.formData.cp == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "nombre" && this.$store.state.formData.nombre == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "correo" && this.$store.state.formData.correo == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          id == "telefono" &&
          this.$store.state.formData.telefono == ""
        ) {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          elemento.value == "" &&
          (idWarning == "marcaReq" ||
            idWarning == "modeloReq" ||
            idWarning == "descripcionReq" ||
            idWarning == "detalleReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq")
        ) {
          elemento.className = elemento.className + " is-invalid";
          this.warningView(idWarning, "block");
          this.formValido = 0;
        } else {
          elemento.className = elemento.className + " is-valid";
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim

    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /[A-Za-z\sáéíóúÁÉÍÓÚ\s\t]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req");
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },
  },
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function () {
      //version2
      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.nombre.substring(
          this.nombre.length - 1,
          this.nombre.length
        );
        var result = this.checkCaracter(ultimoCaracter, "letra");
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
            this.nombre,
            "nombre"
          );
        } else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = "";
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, "33333");
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningView("cp", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cp", "block");
      }
    },
  },
};
</script>
<!--<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>-->
<!-- por si lo necesito ❌ -->
<style scope>
.borde-rojo {
  border: 1px solid red !important;
}

.gray {
  color: gray;
  margin: 0px 5px;
}

.priv {
  text-decoration: none !important;
  color: gray;
}
.priv:hover {
  color: gray;
}

.m-izq {
  margin-left: -24%;
}

.m-der {
  margin-left: 24%;
  padding: 0;
}

.m-arriba {
  margin-top: 2%;
}

.form-text {
  display: block;
  margin-top: 0rem;
}

fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block;
}

.multiselect__spinner:after,
.multiselect__spinner:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: #41b883 transparent transparent;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0 1px transparent;
}

.multiselect__spinner:before {
  animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
  animation-iteration-count: infinite;
}

.multiselect__spinner:after {
  animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
  animation-iteration-count: infinite;
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 16px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e;
  height: auto;
}

.multiselect * {
  box-sizing: border-box;
}

.multiselect:focus {
  outline: none;
  border: solid #00de46 3px !important;
  box-shadow: none;
}
.custominput:focus {
  border: solid #00de46 3px !important;
  box-shadow: none;
}

.multiselect--disabled {
  opacity: 0.6;
}

.multiselect--active {
  z-index: 1;
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.multiselect--active .multiselect__select {
  transform: rotate(180deg);
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 0 0 0 5px;
  width: 100%;
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 8px;
  vertical-align: top;
}

.multiselect__input::-webkit-input-placeholder {
  color: #35495e;
}

.multiselect__input:-ms-input-placeholder {
  color: #35495e;
}

.multiselect__input::placeholder {
  color: #35495e;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
  width: auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
  border-color: #436998;
}

.multiselect__input:focus,
.multiselect__single:focus {
  outline: none;
}

.multiselect__single {
  padding-left: 5px;
  margin-bottom: 8px;
}

.multiselect__tags-wrap {
  display: inline;
}

.multiselect__tags {
  min-height: 42px;
  display: block;
  padding: 8px 0px 0 0px;
  border-radius: 5px;
  border: 0px solid #e8e8e8 !important;
  background: #f4f4f4;
  font-size: 16px;
  font-weight: bold;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 0px;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: #41b883;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  width: 22px;
  text-align: center;
  line-height: 22px;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.multiselect__tag-icon:after {
  content: "\D7";
  color: #266d4d;
  font-size: 14px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #369a6e;
  border: solid 3px;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: #fff;
}

.multiselect__current {
  min-height: 40px;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.multiselect__current,
.multiselect__select {
  line-height: 16px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.multiselect__select {
  position: absolute;
  width: 40px;
  height: 45px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  text-align: center;
  transition: transform 0.2s ease;
}

.multiselect__select:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #999 transparent transparent;
  content: "";
}

.multiselect__placeholder {
  margin-left: 15px;
  color: #284866;
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 26px;
}

.multiselect--active .multiselect__placeholder {
  display: none;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8;
}

.multiselect__content::webkit-scrollbar {
  display: none;
}

.multiselect__element {
  display: block;
}

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect__option:after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: 40px;
  padding-right: 12px;
  padding-left: 20px;
  font-size: 13px;
}

.multiselect__option--highlight {
  background: #04de66;
  outline: none;
  color: #fff;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #41b883;
  color: #fff;
}

.multiselect__option--selected {
  background: #f3f3f3;
  color: #35495e;
  font-weight: 700;
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #ff6a6a;
  color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #ff6a6a;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select,
.multiselect__option--disabled {
  background: #ededed;
  color: #a6a6a6;
}

.multiselect__option--disabled {
  cursor: text;
  pointer-events: none;
}

.multiselect__option--group {
  background: #ededed;
  color: #35495e;
}

.multiselect__option--group.multiselect__option--highlight {
  background: #35495e;
  color: #fff;
}

.multiselect__option--group.multiselect__option--highlight:after {
  background: #35495e;
}

.multiselect__option--disabled.multiselect__option--highlight {
  background: #dedede;
}

.multiselect__option--group-selected.multiselect__option--highlight {
  background: #ff6a6a;
  color: #fff;
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
  background: #ff6a6a;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect-enter-active,
.multiselect-leave-active {
  transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}

.multiselect__strong {
  margin-bottom: 8px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}

[dir="rtl"] .multiselect {
  text-align: right;
}

[dir="rtl"] .multiselect__select {
  right: auto;
  left: 1px;
}

[dir="rtl"] .multiselect__tags {
  padding: 8px 8px 0 40px;
}

[dir="rtl"] .multiselect__content {
  text-align: right;
}

[dir="rtl"] .multiselect__option:after {
  right: auto;
  left: 0;
}

[dir="rtl"] .multiselect__clear {
  right: auto;
  left: 12px;
}

[dir="rtl"] .multiselect__spinner {
  right: auto;
  left: 1px;
}

@keyframes a {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(2turn);
  }
}

a.aviso {
  color: #999;
}

.alert-warning {
  color: #555;
  background-color: #a2eecb;
  border-color: #a2eecb;
}

.blue {
  color: #014f98 !important;
}

.fondo {
  background: #e9ebee;
}

.paddTitles {
  padding: 0 0 25px;
}

.m10 {
  margin: -10px 0;
}

.bgColorgris {
  background-color: #fbfbfb;
  background-color: #fff;
  padding: 20px;
  background: #fff !important;
  box-shadow: 5px 2px 20px 1px #eae9e9 !important;
}

.img_vargasdesignmx {
  max-width: 110px;
  margin: 15px 0;
  display: block;
}

.vargasdesignmx {
  margin: 15px auto 0;
  font-size: 20px !important;
  color: #044f99 !important;
  font-weight: bolder;
}

.ttlefoot {
  margin: 20px auto 2rem;
}

.centeronlysm {
  text-align: left;
}

.height90 {
  height: 90px;
}

.padding40 {
  padding: 0 6%;
}

/*INI Stars*/
fieldset,
label {
  margin: 0;
  padding: 0 !important;
}

.rating {
  border: none !important;
  float: inherit !important;
}

.rating > .nocolor {
  color: #ddd !important;
}

.rating > .sicolor {
  color: #ffd700 !important;
}

.txtColorGray2 {
  color: #436998;
}

.starCalif {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5c5c5c !important;
}

.average {
  display: inline-block;
  float: left;
  margin: 0.5rem;
  line-height: 0.8;
}

span.votes {
  font-size: 0.5em;
}

.imggoogle {
  width: 60px;
  height: auto;
  margin: 0px auto 0;
}

.sizeW {
  font-size: 20px;
}

.shadow-cards {
  box-shadow: 4px 4px 17px rgba(228, 221, 221, 0.66);
}

.pCero {
  padding: 0 !important;
}

.logo-newasmx-large {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  height: auto;
}

.bgGrayFoot {
  background: #f3f2f2;
  color: #656565;
}

.pacdi {
  padding: 3em 2em;
}

li.lio {
  display: inline-flex;
}

li.lio a {
  margin: 0px 0px 10px;
  display: block;
  color: #9e9e9e;
}

li.lio a:hover {
  margin: 0px 0px 10px;
  display: block;
  color: #9e9e9e;
}

.pacdi2 {
  padding: 0.2em 2em;
}

.copiando-a-rastreator {
  background: #fff;
  box-shadow: 0px -3px 10px #eae9e9;
}

/*@media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;}}*/
@media (min-width: 1600px) {
  .m-arriba {
    margin-top: 2%;
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .m-izq {
    margin-left: -25%;
  }

  .m-der {
    margin-left: 25%;
  }

  .m-arriba {
    margin-top: 2%;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .m-izq {
    margin-left: -138px;
  }

  .m-der {
    margin-left: 138px;
  }

  .m-arriba {
    margin-top: 1%;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .priv {
    text-decoration: none !important;
    color: #888;
    font-size: 0.8rem;
  }

  .centeronlysm {
    text-align: center;
  }

  .m-izq {
    margin-left: 0px;
  }

  .m-der {
    margin-left: 0px;
    padding: 0px 10px;
  }

  .blanco {
    height: 100%;
  }

  .gray {
    color: gray;
    margin: 0px 0px;
  }

  .m-arriba {
    margin-top: -2%;
  }

  .multiselect__content-wrapper {
    max-height: 300px !important;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .priv {
    text-decoration: none !important;
    color: #888;
    font-size: 0.8rem;
  }

  .centeronlysm {
    text-align: center;
  }

  .m-izq {
    margin-left: 0px;
  }

  .m-der {
    margin-left: 0px;
    padding: 0px 10px;
  }

  .blanco {
    height: 100%;
  }

  .gray {
    color: gray;
    margin: 0px 0px;
  }

  .m-arriba {
    margin-top: -2%;
  }

  .multiselect__content-wrapper {
    max-height: 300px !important;
  }

  .multiselect__placeholder {
    font-size: 23px;
  }
}

@media (min-width: 240px) and (max-width: 320px) {
  .priv {
    text-decoration: none !important;
    color: #888;
    font-size: 0.8rem;
  }

  .centeronlysm {
    text-align: center;
  }

  .m-izq {
    margin-left: 0px;
  }

  .m-der {
    margin-left: 0px;
    padding: 0px 10px;
  }

  .blanco {
    height: 100%;
  }

  .gray {
    color: gray;
    margin: 0px 0px;
  }

  .m-arriba {
    margin-top: -2%;
  }

  .multiselect__content-wrapper {
    max-height: 300px !important;
  }

  .multiselect__placeholder {
    font-size: 19px;
  }
}
</style>
